<ol class="breadcrumb">
  <li>
    <a class="badge badge-type" href="#/">Master</a>
  </li>
  <li class="active">
    <span class="badge badge-type">Maintenance</span>
  </li>
</ol>

<table m-table table-content="maintenance.windows" title="Outstanding Maintenance "
  class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th data-key="id">Start</th>
      <th data-key="start">Duration</th>
      <th data-key="hostname">HostName</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="window in $data">
      <td>
          {{(window.unavailability.start.nanoseconds/1000000) | date:'yyyy-MM-dd HH:mm' }}

      </td>
      <td>
          {{(window.unavailability.duration.nanoseconds+ window.unavailability.start.nanoseconds)/1000000 | date:'yyyy-MM-dd HH:mm'}}
      </td>
      <td>
          <div ng-repeat="machine_ids in window.machine_ids">
          {{machine_ids.hostname}}
          </div>
      </td>
    </tr>
  </tbody>
</table>
